<div id="background">
    <div id="content">

        <div class="app-onboard container">

            <a target="_blank" href="http://www.bewizyu.com"><div class="logo"></div></a>
                 <div class="row title-row">
                    <div class="col">
                        <h1 [innerHTML]="questionsData.quiz_title"></h1>
                    </div>
                </div>
                <div class="intro_left">
                    <div class="intro">
                        <p [innerHTML]="questionsData.quiz_description"></p>
                    </div>
                    <div class="container-player-types">
                        <div class="player_types">
                            <div class="type_logo">
                                <img src="/assets/img/Icone_Social.png">
                            </div>
                            <div class="type_desc">
                            <p class="type_desc_titre">SOCIALIZERS</p>
                            Interactions humaines    
                            </div>
                        </div>
                        <div class="player_types">
                            <div class="type_logo">
                                <img src="/assets/img/Icone_Check.png">
                            </div>
                            <div class="type_desc">
                            <p class="type_desc_titre">ACHIEVERS</p>
                            Progression et tâches   
                            </div>
                        </div>
                        <div class="player_types">
                            <div class="type_logo">
                                <img src="/assets/img/Icone_Fight.png">
                            </div>
                            <div class="type_desc">
                            <p class="type_desc_titre">FIGHTERS</p>
                            Compétition et confrontation   
                            </div>
                        </div>
                        <div class="player_types">
                            <div class="type_logo">
                                <img src="/assets/img/Icone_Loupe.png">
                            </div>
                            <div class="type_desc">
                            <p class="type_desc_titre">EXPLORERS</p>
                            Curiosité et découverte   
                            </div>
                        </div>
                    </div>
                    
                    <div class="launcher">
                        <p [innerHTML]="questionsData.quiz_laucher"></p>
                    </div>
                </div>
                <div class="joueurs">
                    <img src="/assets/img/Joueurs.png">
                </div>
            
                <div class="start">
                    <button mat-button color="primary" [routerLink]="['/home']">COMMENCER LE TEST</button>
                    <br/>
                    <a target="_blank" href="https://bewizyu.com/create/design-lab/">En savoir plus</a>
                </div>
                
        </div>
    </div>
</div>
