
.mat-drawer-container {
        background-color: white;
}

#content {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    
    #background_botleft{
        bottom: 0px;
        left:-100px;
        position: static;
    }
}

#background {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

#background::before {
    content: " ";
    position: fixed;
    height: 200px;
    max-width: 1500px;
    background: url(/assets/img/Background_BotLeft_crop.png) no-repeat bottom left;
    width: 1000px;
    margin-left: -235px;
    bottom:0px;
    z-index: -5;
 }

#content::before {
    content: " ";
    position: fixed;
    height: 600px;
    max-width: 1500px;
    background: url(/assets/img/Background_TopRight_crop.png) no-repeat top right;
    width: 1000px;
    margin-left: 750px;
    top:0px;
 }

.app-home {

   .logo{
        position: absolute;
        width: 200px;
        height: 43.33px;
        left: calc(50% - 200px/2 - 11px);
        top: 51px;

        background: url(/assets/img/Logo_Horizontal.png);
        background-size: contain;
    }
    
   .title-row{
        padding-top: 20px;
        padding-bottom: 30px;

        h1{
            color: #070636;
            font-size: 36px;
            font-weight: normal;
            font-family: 'Baloo', cursive;
            margin-top: 260px;
            
            .span_title{
               color:#476FBD;
                font-size: 36px;
                font-weight: normal;
                font-family: 'Baloo', cursive;
            }
        }
       
       
   }

    .title-row::before{
        content: "PLAY";
        position: fixed;
        margin-left: 0px;
        top:150px;
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 288px;
        line-height: 288px;
        color: rgba(76, 132, 240, 0.06);
        
    }
    
    .header-section{
        padding: 20px;
        color: white;
        font-size: 16px;
        border-radius: 20px;
        color: #070636;
        margin-top:150px;
        
    }
    
    .mat-progress-bar{
        height: 13px;
        border-radius: 6px;
        margin-bottom: 8px;
        margin-top: 10px !important;
        margin-left: 50px;
        margin-right: 50px;
        width: auto!important;
    }
    
    .mat-progress-bar-buffer{
        background-color:#F0F0F0;
        
    }
    
    .mat-progress-bar-fill::after{
        background-color: #4C84F0!important;
    }
    
    .counter{
        width: 100%;
        text-align:  center;
        margin-bottom: 20px;
        margin-top:10px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 21px;
        color: #888787;
    }

    
    .ng-star-inserted{
        text-align: center;
    }
    
    .mat-card{
            min-height: 475px;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
        }
    
    .quiz-stepper{
        .mat-horizontal-stepper-header-container{
            display: none;
        }

        h2{
            font-family: Baloo;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            text-align: center;
            color: #070636;
            padding-top:35px; //---Pb pour la selection des questions
        }    
        
        .mat-step-label{
            display: none;
        }

        .stepperQuiz{
            margin-top: 30px;
        }
        
        .mat-checkbox, .mat-radio-button{
            margin: 20px;
            border-radius: 5px;
            //display: block;
            background: #476FBD;
            height:100px;
            width:425px;
            max-width: 90%;

            
            &.mat-radio-checked, &.mat-checkbox-checked{
                opacity: 1;
                font-weight: bold;
                background: #EF9777;
            }
            

            
            .mat-radio-label{
                margin-bottom: 0px!important;
                height:100%;
                
                .mat-radio-container{
                    display: none;
                    margin: 0px;
                    margin-right: 10px;
                }
                .mat-radio-label-content{
                    width : 100%;
                    padding: 5px;   
                    text-align: center;
                    color: white;
                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    overflow-wrap: break-word;
                    white-space: normal;
                }
            }
            .mat-checkbox-layout{
                width: 100%;
                text-align: center;
                .mat-checkbox-inner-container{
                    display: none;
                    margin: 0px;
                    margin-right: 10px;
                }
                .mat-checkbox-label{
                    width : 100%;
                    padding: 5px;
                }
            }
        }
        
        .mat-radio-button:hover:not(.mat-radio-checked){
                background:  #ecc5b7;
                border-radius: 5px;                
            }
        
        .stepperNext{
            display:none;
            padding-top: 20px;
            text-align: right;
            padding-right: 3%;
            .mat-stroked-button{
                margin-left: 10px;
                font-weight: bold;
                
            }
            button{
                border-radius: 1px!important;
                min-width: Opx!important;
                font-size: 24px;
                color: #3e82f8;
                
            }
            button:hover{
                color:black;
            }

            

        }
        .last-step{
            .mat-icon{
                font-size: 60px;
                color: #4BB543;
            }
            text-align: center;
        }
    }
    
    .arrow {
	margin-right: 10px;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 0.7vmin solid #3e82f8 !important;
    border-right: 0.7vmin solid #3e82f8 !important;
    border-left:none!important;
    border-bottom: none!important;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	
	&.left {
		left: 0;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	&.right {
		right: 0;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	&:hover {
		border-color: orange!important;
		box-shadow: 0.5vmin -0.5vmin 0 #3e82f8;
	}
	

}


    .results{
        margin-top: 20px;
        height: 100%;
       
        .result_gauche{
                width: 20%;
                display: block;
                float: left;
                font-family: Baloo;
                font-size: 18px;
                text-align: center;
                color: #4770C0;
                padding-bottom: 20px;
                padding-left:6%;
        }
        
        .result_droit{
            float: left;
            width: 80%;
            text-align: left;
            margin-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .caractere{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #888787;
        }
        .carac-titre{
            font-family: Baloo;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #4C84F0;
        }
        
        .carac-titre::before{
            content: '"';
            position: absolute;
            font-family: Catamaran;
            font-size: 48px;
            padding-top: 5px;
            margin-left: -17px;
            color: #4C84F0;
            
        }
        
        .carac-titre::after{
            content: '"';
            position: absolute;
            font-family: Catamaran;
            font-size: 48px;
            padding-top: 25px;
            margin-left: 3px;
            color: #4C84F0;
            
        }
        
        .carac-desc{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #888787;
            padding-left: 40px;
        }
        
        .intro{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #717171;
            margin-bottom: 25px;
            margin-top: 15px;
        }
        
        .header-result{
                font-family: Baloo;
                font-size: 18px;
                line-height: 28px;
                color: #353535;
        }
        .final-result{
            float: left;
            width: 40%;
            font-family: Baloo;
            font-size: 40px;
            line-height: 63px;
            color: #E86A3D;
            display: block;
            text-align: left;
            margin-left: 20px;
        }
        .final-image{
            float: left;
            top: 10px;
            left: 0px;
        }
        
        .annonce{
            float: left;
            margin-top: 70px;
            margin-left: 20px;
            display: block;
            font-family: Baloo;
            font-size: 18px;
            line-height: 28px;
            color: #353535;
        }
        .table{
            width: 100%;
            margin-top: 60px;
        }
        
        .row{
            text-align: center;
            font-family: Baloo;
            font-size: 18px;
            line-height: 28px;
            color: #4770C0;
            
        }
        
        .row-bg{
            z-index: auto;
            img{float:left!important;}
        }
        
        .container-shape{
            position:relative;
            font-family: Baloo;
            font-size: 18px;
            line-height: 28px;
            color: #4770C0;
            padding: 12px 0 12px 0;
            float: left;
        }
        .percentage{
            text-align: center;
            top: 28px;
            font-size: 40px;
            line-height: 63px;
            font-family: Baloo; 
            color: #FFFFFF;
            padding-left: 6%;
            position: absolute;
        }
        
        .background-image{
            position: absolute;
            display: block;
            top: 120px;
            left: 0px;
        }
        
        .shape-bg{opacity: 0.5;
        }
        .shape-color{
            width:85px;
        }
        
        .shape-crop{
            position: absolute;
            mix-blend-mode: normal;
            overflow: hidden;
        }
        
        .table th{
            border:none!important;
            position:relative;
        }
        .graph-container{
            text-align: center;
            width: 100%;
            height: 100%;
            .ngx-charts-outer {
                width: 100% !important;
            }
            .ngx-charts{
                float: none !important;
            }
            .graph{
                margin:auto;
                height: 100%;
                width: 100%;
            }
        }
        
        .more{
            font-family: Roboto;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-decoration-line: underline;
            color: #4C84F0;
            margin-top:20px;
            margin-bottom:40px;
        }
        
        .again{
            bottom: -125px;
            left: 0%;
            width: 100%;
            position: absolute;
        }
        
        .again a:hover{
           text-decoration: none!important; 
        }
        .bouton-again{
            font-family: Josefin Sans;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            width: 250px;
            height: 60px;
            background: #E86A3D;
            border-radius: 5px;
            margin-bottom: 15px;
            padding: 23px;
            margin-left: auto;
            margin-right: auto;
            
        }
        
        .bouton-again a:hover{
            text-decoration: none!important
        }
        
        .bouton-again:hover{
            opacity: 0.75;
        }
        .bouton-contact{
            width: 250px;
            height: 60px;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 5px;
            color: #000000;
            font-family: Josefin Sans;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            padding: 23px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            background: rgba(255,255,255,0.6);
        }
        
         .bouton-contact:hover{
            color: #FFFFFF;
            background: #000000;
             text-decoration: none

        }
    }
}





@media (max-width:1200px)
    {
        #background::before {
            opacity: 0.2;
        }
        #content::before {
            opacity: 0.2;
        }
       
    }
@media (max-width: 992px)
    {
        .result_gauche{
                padding-left:3%!important;
        }
       
}
@media (max-width: 768px)
    {

        .result_gauche{
                width: 100%!important;
        }
        .container-shape{
            padding: 12px 5% 12px 5%!important;
        }
        .result_gauche{
                padding-left:22%!important;
        }
        .final-image img{
            width:150px;
        }
        .annonce{
            margin-top:40px!important
        }
        .result_droit{
            padding-left: 10%!important;
            padding-right: 10%!important;
            width:100%!important;
            text-align: center!important;
        }
        .carac-desc{
            padding-left: 0px!important;
        }
        .mat-radio-label-content{
            font-size: 16px!important;
        }
}


@media (max-width: 576px)
    {
        .mat-checkbox, .mat-radio-button{
                max-width: 100%!important;
                margin-top: 20px!important;
                margin-bottom: 20px!important;
                margin-left: auto!important;
                margin-right: auto!important;
        }
        .result_gauche{
                padding-left:21%!important;
        }
        .final-image {
            width:100%;
        }
        .annonce{
            margin-left:0px!important;
            width:100%!important;
            margin-top:0px!important
        }
        .final-result{
            width:100%!important;
            margin-left:0px!important;
            text-align: center!important;
        }
        /*.bouton-contact{
        font-size: 14px!important;
        }*/
        .more{
            font-size: 16px!important;
        }
        .background-image{
            width:100%;
            overflow:hidden;
        }
}
@media (max-width: 400px)
    {
        .row-bg img{
            width:65px!important;
        }
        .shape-color{
            width: 65px!important;
            clip-path:none!important;
        }
        .percentage{
            top: 19px!important;
            padding-left: 9%!important;
            font-size: 30px!important;
        }
        .result_gauche {
            padding-left:10%!important;
        }
}