<div id="background">
    <div id="content">

        <div class="app-home container">

            <div class="logo"></div>
            <!--<div class="row title-row">
            <div class="col">
                <h1 [innerHTML]="questionsData.quiz_title"></h1>
            </div>
        </div>-->
            <div class="header-section">
                <div class="row">
                    <div class="col">
                        <!--<p [innerHTML]="questionsData.quiz_description"></p>-->

                        <mat-card *ngIf="!showResults">

                            <mat-progress-bar mode="determinate" [value]="progressPercent"></mat-progress-bar>

                            <div class="counter">
                                {{currentQuestionIndex}} / {{questionsData.questions.length}}
                            </div>

                            <mat-horizontal-stepper [linear]="!questionsData.allow_stepper_navigation" #stepper
                                class="quiz-stepper" (selectionChange)="stepperChange($event)">
                                <mat-step *ngFor="let q of questionsData.questions; let i=index;">
                                    <h2>{{q.question}}</h2>

                                    <div class="stepperQuiz">
                                        <div *ngIf="q.multiple_answers">
                                            <mat-checkbox *ngFor="let answer of q.answers"
                                                [(ngModel)]="answer.selected">
                                                {{answer.label}}</mat-checkbox>
                                        </div>

                                        <div *ngIf="!q.multiple_answers">
                                            <mat-radio-group [(ngModel)]="q.selectedAnswer">
                                                <mat-radio-button *ngFor="let answer of q.answers" [value]="answer">
                                                    {{answer.label}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="stepperNext">
                                            <button mat-stroked-button matStepperPrevious
                                                [hidden]="i == 0">Précédent</button>
                                            <button mat-stroked-button matStepperNext color="primary" [disabled]="isNextStepDisabled(i)">Suivant</button>
                                        </div>
                                    </div>
                                </mat-step>

                                <mat-step>

                                    <div class="last-step">
                                        <mat-icon>check_circle_outline</mat-icon>
                                        <h2>Vous avez terminé ! </h2>
                                    </div>
                                    <div class="stepperNext">
                                        <button mat-stroked-button matStepperPrevious>Précédent</button>
                                        <button mat-stroked-button (click)="calculateResults()" color="primary">Voir les
                                            resultats</button>
                                    </div>
                                </mat-step>
                            </mat-horizontal-stepper>
                        </mat-card>


                        <mat-card class="results" *ngIf="showResults">
                            <div class="result_gauche" style="background-image:url(/assets/img/)">

                            </div>
                            <div class="header-result">
                                <!--<img src="/assets/img/">-->
                                Vous êtes majoritairement
                                <div class="final-result" [innerHTML]="finalSentence"></div>
                            </div>
                            <div class="graph-container">
                                <ngx-charts-pie-grid class="graph" [view]="view" [scheme]="colorScheme"
                                    [results]="data">
                                </ngx-charts-pie-grid>
                            </div>

                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let factor of data; let i = index;">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{factor.name}}</td>
                                        <td><strong>{{factor.value}} points</strong></td>
                                    </tr>

                                </tbody>
                            </table>

                            <button class="mx-auto" mat-stroked-button (click)="reset()" color="primary">Recommencer le
                                quiz</button>



                        </mat-card>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>