#content {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;

    
    #background_botleft{
        bottom: 0px;
        left:-100px;
        position: static;
    }
}

#background {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

#background::before {
    content: " ";
    position: fixed;
    height: 200px;
    max-width: 1500px;
    background: url(/assets/img/Background_BotLeft_crop.png) no-repeat bottom left;
    width: 1000px;
    margin-left: -235px;
    bottom:0px;
 }

#content::before {
    content: " ";
    position: fixed;
    height: 600px;
    max-width: 1500px;
    background: url(/assets/img/Background_TopRight_crop.png) no-repeat top right;
    width: 1000px;
    margin-left: 750px;
    top:0px;
 }

.app-home {

   .logo{
        position: absolute;
        width: 200px;
        height: 43.33px;
        left: calc(50% - 200px/2 - 11px);
        top: 51px;

        background: url(/assets/img/Logo_Horizontal.png);
    }
    
   .title-row{
        padding-top: 20px;
        padding-bottom: 30px;

        h1{
            color: #070636;
            font-size: 36px;
            font-weight: normal;
            font-family: 'Baloo', cursive;
            margin-top: 260px;
            
            .span_title{
               color:#476FBD;
                font-size: 36px;
                font-weight: normal;
                font-family: 'Baloo', cursive;
            }
        }
       
       
   }

    .title-row::before{
        content: "PLAY";
        position: fixed;
        margin-left: 0px;
        top:150px;
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 288px;
        line-height: 288px;
        color: rgba(76, 132, 240, 0.06);
        
    }
    
    .header-section{
        padding: 20px;
        color: white;
        font-size: 16px;
        border-radius: 20px;
        color: #070636;
        margin-top:150px;
        
    }
    
    .mat-progress-bar{
        height: 13px;
        border-radius: 6px;
        margin-bottom: 8px;
        margin-top: 10px !important;
        margin-left: 50px;
        margin-right: 50px;
        width: auto!important;
    }
    
    .mat-progress-bar-buffer{
        background-color:#F0F0F0;
        
    }
    
    .mat-progress-bar-fill::after{
        background-color: #4C84F0!important;
    }
    
    .counter{
        width: 100%;
        text-align:  center;
        margin-bottom: 20px;
        margin-top:10px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 21px;
        color: #888787;
    }

    
    .ng-star-inserted{
        text-align: center;
    }
    
    .mat-card{
            min-height: 475px;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
        }
    
    .quiz-stepper{
        .mat-horizontal-stepper-header-container{
            display: none;
        }

        h2{
            font-family: Baloo;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            text-align: center;
            color: #070636;
            padding-top:35px; //---Pb pour la selection des questions
        }    
        
        .mat-step-label{
            display: none;
        }

        .stepperQuiz{
            margin-top: 30px;
        }
        
        .mat-checkbox, .mat-radio-button{
            margin: 20px;
            border-radius: 5px;
            //display: block;
            background: #476FBD;
            height:100px;
            width:425px;
            max-width: 90%;

            
            &.mat-radio-checked, &.mat-checkbox-checked{
                opacity: 1;
                font-weight: bold;
                background: #EF9777;
            }
            

            
            .mat-radio-label{
                margin-bottom: 0px!important;
                height:100%;
                
                .mat-radio-container{
                    display: none;
                    margin: 0px;
                    margin-right: 10px;
                }
                .mat-radio-label-content{
                    width : 100%;
                    padding: 5px;   
                    text-align: center;
                    color: white;
                    font-family: 'Josefin Sans', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    overflow-wrap: break-word;
                    white-space: normal;
                }
            }
            .mat-checkbox-layout{
                width: 100%;
                text-align: center;
                .mat-checkbox-inner-container{
                    display: none;
                    margin: 0px;
                    margin-right: 10px;
                }
                .mat-checkbox-label{
                    width : 100%;
                    padding: 5px;
                }
            }
        }
        
        .mat-radio-button:hover:not(.mat-radio-checked){
                background:  #ecc5b7;
                border-radius: 5px;                
            }
        
        .stepperNext{
            padding-top: 20px;
            text-align: right;
            .mat-stroked-button{
                margin-left: 10px;
                font-weight: bold;
            }

        }
        .last-step{
            .mat-icon{
                font-size: 60px;
                color: #4BB543;
            }
            text-align: center;
        }
    }


    .results{
        margin-top: 20px;
        height: 100%;
       
        .result_gauche{
                width: 20%;
                display: block;
                float: left;
        }
        
        .result_droit{
            float: left;
            width: 80%;
            text-align: left;
            margin-bottom: 10px;
        }
        .caractere{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #888787;
        }
        .carac-titre{
            font-family: Baloo;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;

            color: #6787C3;
        }
        .carac-desc{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #888787;
        }
        
        .intro{
            font-family: Roboto Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #717171;
            margin-bottom: 25px;
            margin-top: 15px;
        }
        
        .header-result{
                font-family: Baloo;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                color: #353535;
        }
        .final-result{
            float: left;
            width: 40%;
            font-family: Baloo;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 63px;
            color: #D2704C;
            display: block;
            text-align: left;
            margin-left: 20px;
        }
        .final-image{
            float: left;
            top: 10px;
            left: 0px;
        }
        
        .annonce{
            float: left;
            margin-top: 70px;
            margin-left: 20px;
            display: block;
            font-family: Baloo;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            color: #353535;
        }
        .table{
            width: 100%;
            margin-top: 60px;
        }
        
        .row{
            text-align: center;
            font-family: Baloo;
            font-size: 18px;
            line-height: 28px;
            color: #4770C0;
            
        }
        
        .row-bg{
            z-index: auto;
        }
        
        .percentage{
            text-align: center;
            top: 32px;
            font-size: 40px;
            line-height: 63px;
            font-family: Baloo; 
            color: #FFFFFF;
            padding-left: 28%;
            position: absolute;
        }
        
        .background-image{
            position: absolute;
            display: block;
            top: 120px;
            left: 0px;
        }
        
        .shape-bg{opacity: 0.5;
        }
        .shape-color{
            //margin-top: -55px;
            width:85px;
        }
        
        .shape-crop{
            position: absolute;
            left: 61px;
            mix-blend-mode: normal;
            bottom: 37px;
            overflow: hidden;
        }
        
        .table th{
            border:none!important;
            position:relative;
        }
        .graph-container{
            text-align: center;
            width: 100%;
            height: 100%;
            .ngx-charts-outer {
                width: 100% !important;
            }
            .ngx-charts{
                float: none !important;
            }
            .graph{
                margin:auto;
                height: 100%;
                width: 100%;
            }
        }
    }
}
