<div id="background">
    <div id="content">

        <div class="app-home container">

            <div class="logo"></div>
       
            <div class="header-section">
                <div class="row">
                    <div class="col">
                        <!--<p [innerHTML]="questionsData.quiz_description"></p>-->

                        <mat-card *ngIf="!showResults">

                            <mat-progress-bar mode="determinate" [value]="progressPercent"></mat-progress-bar>

                            <div class="counter">
                                {{currentQuestionIndex}} / {{questionsData.questions.length}}
                            </div>

                            <mat-horizontal-stepper [linear]="!questionsData.allow_stepper_navigation" #stepper
                                class="quiz-stepper" (selectionChange)="stepperChange($event)">
                                <mat-step *ngFor="let q of questionsData.questions; let i=index;">
                                    <h2>{{q.question}}</h2>

                                    <div class="stepperQuiz">
                                        <div *ngIf="q.multiple_answers">
                                            <mat-checkbox *ngFor="let answer of q.answers"
                                                [(ngModel)]="answer.selected">
                                                {{answer.label}}</mat-checkbox>
                                        </div>

                                        <div *ngIf="!q.multiple_answers">
                                            <mat-radio-group [(ngModel)]="q.selectedAnswer">
                                                <mat-radio-button *ngFor="let answer of q.answers" [value]="answer">
                                                    {{answer.label}}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="stepperNext">
                                            <button mat-stroked-button matStepperPrevious
                                                [hidden]="i == 0">Précédent</button>
                                            <button mat-stroked-button matStepperNext color="primary" [disabled]="isNextStepDisabled(i)">Suivant</button>
                                        </div>
                                    </div>
                                </mat-step>

                                <mat-step>

                                    <div class="last-step">
                                        <mat-icon>check_circle_outline</mat-icon>
                                        <h2>Vous avez terminé ! </h2>
                                    </div>
                                    <div class="stepperNext">
                                        <button mat-stroked-button matStepperPrevious>Précédent</button>
                                        <button mat-stroked-button (click)="calculateResults()" color="primary">Voir les
                                            resultats</button>
                                    </div>
                                </mat-step>
                            </mat-horizontal-stepper>
                        </mat-card>


                        <mat-card class="results" *ngIf="showResults">
                            <div class="result_gauche">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let factor of data; let i = index;">
                                                <th scope="row">
                                                <div class="row-bg">
                                                    <img src={{factor.result_shape}} class="shape-bg"/>
                                                    <div class="shape-crop">
                                                        <img src={{factor.result_shape}} class="shape-color" [ngStyle]="clip-path: inset(80px 0px 0px 0px);"/>                  <!-------------- ICI ------------>
                                                    </div>    
                                                </div>    
                                                    {{factor.name}}
                                                <br/>
                                                <div class="percentage">
                                                    {{factor.pourcent}}%
                                                </div>    
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="background-image" [innerHTML]="back"></div> 
                            </div>
                            <div class="header-result">
                                <div class="final-image" [innerHTML]="img"></div>
                                <!--<img src="/assets/img/">-->
                                <span class="annonce">Vous êtes majoritairement</span>
                                <div class="final-result" [innerHTML]="typeJoueur"></div>
                                
                            </div>
                            <div class="result_droit">
                                <div class="intro">
                                    {{finalInt}}
                                </div>
                                <div class="details" [innerHTML]="finalDet">
                                </div>
                                
                                
                            
                            </div>


                            <button class="mx-auto" mat-stroked-button (click)="reset()" color="primary">Recommencer le
                                quiz</button>



                        </mat-card>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>